body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

/*ESTA ES LA PARTE DE ARRIBA, PARA EL FONDO Y LAS LETRAS*/
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131921;
    color: #febd69; /*CON ESTO MODIFICAN EL COLOR DE LAS LETRAS*/
    padding: 15px 20px;
}

.btn-reserva-top {
    background: #ffb700;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

/*EL TAMAÑO PROMEDIO DE LAS FOTOS Y/O MINIATURAS*/
.galeria-container {
    padding: 20px;
    display: flex;
    gap: 20px;
}
/*CON ESTO SE MODIFICA LA IMAGEN PRINCIPAL, EN LA PROXIMA REUNION VERIFICAREMOS Y ACORDAREMOS UN TAMAÑO REGULAR PARA PC Y CELULAR*/
.imagen-principal img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
}
/*TAMBIEN SE CAMBIARA EL TAMAÑO DE LAS MINIATURAS*/
.miniaturas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.miniaturas img {
    width: 120px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
}

.miniaturas img:hover {
    transform: scale(1.05);
}

/*INFORMACION EN EL SITIO WEB, ESTO LO PUEDEN MODIFICAR PERO SIEMPRE AVISANDO PARA EVITAR ALGUN FALLO*/
.info-container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.info-left {
    flex: 2;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.info-right {
    flex: 1;
}

.precio-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.btn-reservar {
    background: #ffb700;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.tags span {
    display: inline-block;
    background: #eee;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 6px;
}